html, body{
    margin: 0;
    padding: 0;
}
body{
    align-items: center;
    background-image: url(backgroundjs.jpg);
    background-repeat: no-repeat;
    background-size: 290%;
    background-position: 50%;
    background-position-y: 0;
    background-color: rgba(0, 128, 0, 0.774);
    display: flex;
    height: 100vh;
    justify-content: center;
}
#main{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 75vw;
    margin: 0;
    padding: 0;
    width: 95%;
}
#roulettes{
    align-items: center;
    background-color:rgb(207, 10, 10);
    border-radius: 1vw;
    display: flex;
    justify-content: space-around;
    height: 50%;
    width: 80%;
}
.panel{
    align-items: center;
    border-radius: 1vw;
    background-color: snow;
    display: flex;
    font-size:20vw;
    font-weight: bolder;
    height:80%;
    justify-content: center;
    width: 20%;
}
#div_p_main{
    align-items: center;
    background-color: goldenrod;
    border-radius: 1vw;
    display: flex;
    font-size: 4.5vw;
    font-weight: bolder;
    justify-content: center;
    height: 15%;
    width: 80%;
}
#div__button{
    align-items: center;
    border-radius: 1vw;
    display: flex;
    justify-content: space-between;
    height: 15%;
    width: 80%;
}
#button{
    background-color: rgb(1, 88, 1);
    border: none;
    border-radius:1vw ;
    color: rgb(214, 247, 165);
    font-size: 6vw;
    min-height:70%;
    width:50%;

}
.points{
    background-color: goldenrod;
    border-radius:1vw ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0;
    width: 22%;
}
.h2__points{
    font-size: 2.8vw;
    margin: 0;
    margin-top: 0.3vw;
    text-align: center;

}
.div__points{
    align-items: center;
    display: flex;
    font-size: 7vw;
    height: 62%;
    justify-content: center;
    text-align: center;
}
#button:hover{
    cursor: pointer;
    border: 3px solid rgb(214, 247, 165);
}
@media(min-width: 600px){
    body{
        background-size: 100%;
        height: 48vw;
    }
    #main{
        height: 60vw;
        height: 35vw;
        width: 60vw;
    }
    #button{
        font-size: 3vw;
        height: 12%;
        width: 40%;
    }
    #div_p_main{
        font-size: 3vw;
    }
    .panel{
        font-size: 12vw;
    }
    .h2__points{
        font-size: 1.5vw;
    }
    .div__points{
        font-size: 3vw;
    }
}